body {
    font-family: "Open Sans", Arial, sans-serif;
    padding: 0;
    margin: 0;

}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    height: 64px;
    background-color: white;
    box-shadow: 0 0.2rem 1rem rgb(0 0 0 / 12%);
    z-index: 9;

    .logo-wrapper {
        flex: 1 0 auto;
        margin-left: 1.5rem;
    }

    .language-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 100%;
        border-left: 1px solid #7070702a;
        border-right: 1px solid #7070702a;

        .language-switch {
            a {
                text-decoration: none;

                span {
                    font-size: 12px;
                    color: #707070;

                }
            }
        }
    }

    .user-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 125px;
        height: 100%;
        border-right: 1px solid #7070702a;

        a {
            display: flex;
            text-decoration: none;
            align-items: center;
            justify-content: center;

            span {
                color: #333;
                font-size: 12px;
                font-weight: 600;
                margin-left: 0.5rem;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
        }
    }

    .vendor-cart-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65px;
        height: 100%;
        text-align: center;

        button {
            background-color: white;
            border: 0;

            a {
                span {
                    svg {
                        path {
                            fill: #EA004B;
                        }
                    }
                }
            }
        }
    }

}

.hero-section {
    max-width: 1425px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 80px;

    .hero-city-yemeksepeti {
        background-image: url(resimler/hero-city-yemeksepeti.jpg);
        z-index: -1;
        position: absolute;
        height: 618px;
        width: 50%;
        right: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero-section-content {
        padding-bottom: 104px;

        .hero-section-text {
            padding: 260px 0 48px 0;

            h1 {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 3rem;
                font-weight: 200;
                line-height: 1.4;
                margin: 0;
                color: #333;

                span {
                    font-weight: bold;
                }
            }
        }

        .hero-section-form {
            background-color: white;
            max-width: 960px;
            padding: 1rem;
            box-shadow: 0 0.3rem 2rem rgb(0 0 0 / 10%);


            form {
                display: flex;

                .address-search-container {
                    position: relative;
                    width: 100%;

                    input {
                        width: 100%;
                        height: 100%;
                        padding: 1.4rem;
                        border-radius: 10px;
                        border: 1px solid #70707042;
                    }

                    span {
                        position: absolute;
                        right: 20px;
                        top: 30%;

                        svg {
                            path {
                                fill: #EA004B;
                            }
                        }
                    }
                }

                button {
                    background-color: #EA004B;
                    color: white;
                    border: 0;
                    border-radius: 10px;
                    padding: 0 2rem;
                    margin-left: 1rem;

                    &:hover {
                        background-color: #be003c;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}

.restaurants-container {
    max-width: 1425px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 80px;

    .restaurants__list {
        .vendor-list-section {
            h2 {
                font-size: 36px;
                font-weight: 200;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                margin-bottom: 16px;
            }

            .vendor-list {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 24px;
                padding: 0;

                li {
                    list-style: none;

                    a {
                        cursor: pointer;
                        color: #EA004B;
                        transition: color .1s linear;
                        text-decoration: none;

                        figure {
                            min-height: 200px;
                            margin: 0;
                            position: relative;

                            picture {
                                img {
                                    width: 100%;
                                }
                            }

                            figcaption {
                                padding: 8px 0 0;

                                h2 {
                                    color: #333;
                                    font-size: 1.2rem;
                                    font-weight: bold;
                                    margin: 0;
                                }

                                .categories {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    padding: 0;
                                    color: #707070;


                                    li {
                                        display: inline;
                                        margin: 0;
                                        padding: 0;



                                        span {
                                            font-size: 14px;
                                        }

                                        .budget-symbol {
                                            color: #5EFFB6;
                                        }
                                    }
                                }
                            }

                            .tag-container {
                                padding: 0;

                                span {
                                    color: white;
                                    background-color: #EA004B;
                                    top: 16px;
                                    left: 0;
                                    padding: 0 16px;
                                    position: absolute;
                                    font-size: 16px;
                                    font-weight: 700;
                                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    max-width: 1425px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 80px;

    .footer-wrapper-top {
        padding: 30px 0;
        border-top: 1px solid #ebebeb;

        .footer-logo-wrapper {
            display: flex;


            .footer-social {
                width: 100%;
                display: flex;
                justify-content: end;

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        list-style: none;
                        margin-left: 1rem;
                        display: inline-block;



                        a {
                            i {
                                color: #CACACA;
                                border: 1px solid #CACACA;
                                border-radius: 50%;
                                padding: 0.5rem;
                                font-size: 18px;

                                &:hover {
                                    color: #EA004B;
                                    border: 1px solid #EA004B;
                                    transition: 0.3s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-wrapper-middle {
        position: relative;
        border-top: 1px solid #ebebeb;
        padding-top: 24px;
        padding-bottom: 24px;

        .footer-disclaimer {
            position: absolute;
            top: 24px;
            left: 0;
        }

        .button-ghost {
            display: none;
        }

        .footer-nav {
            width: 50%;
            margin-left: auto;

            ul {
                padding: 0;
                margin: 0;
                text-align: end;

                li {
                    margin-left: 8px;
                    display: inline;
                    list-style: none;
                    white-space: nowrap;


                    a {
                        text-decoration: none;
                        color: #333;
                        font-size: 14px;
                        color: #333;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                        &:hover {
                            color: #EA004B;

                        }
                    }
                }
            }
        }

        .etbis-qr {
            margin-top: 1rem;

            ul {
                display: flex;
                justify-content: end;
                padding: 0;

                li {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    list-style: none;
                    margin-left: 2rem;

                    a {
                        .img1 {
                            width: 80px;
                        }

                        img {
                            width: 100px;
                        }
                    }
                }
            }
        }
    }

    .footer-wrapper-bottom {
        .footer-popular {
            .text-align-justify {
                margin: 0;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1.4rem;
                line-height: 1.6;

                a {
                    font-size: 14px;
                    text-decoration: none;
                    color: #707070;
                    transition: color .1s linear;

                    &:hover {
                        color: #EA004B;
                    }

                }
            }

            p {
                a {
                    font-size: 14px;
                    text-decoration: none;
                    line-height: 1.6;
                    color: #707070;
                    width: 100%;
                    margin: 0 0 16px;
                    

                    &:hover {
                        color: #EA004B;
                    }
                }
            }
        }
    }
}