body {
  font-family: "Open Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  height: 64px;
  background-color: white;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.12);
  z-index: 9;
}
header .logo-wrapper {
  flex: 1 0 auto;
  margin-left: 1.5rem;
}
header .language-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 100%;
  border-left: 1px solid rgba(112, 112, 112, 0.1647058824);
  border-right: 1px solid rgba(112, 112, 112, 0.1647058824);
}
header .language-wrapper .language-switch a {
  text-decoration: none;
}
header .language-wrapper .language-switch a span {
  font-size: 12px;
  color: #707070;
}
header .user-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 100%;
  border-right: 1px solid rgba(112, 112, 112, 0.1647058824);
}
header .user-wrapper a {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
header .user-wrapper a span {
  color: #333;
  font-size: 12px;
  font-weight: 600;
  margin-left: 0.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header .vendor-cart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 100%;
  text-align: center;
}
header .vendor-cart-icon button {
  background-color: white;
  border: 0;
}
header .vendor-cart-icon button a span svg path {
  fill: #EA004B;
}

.hero-section {
  max-width: 1425px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 80px;
}
.hero-section .hero-city-yemeksepeti {
  background-image: url(resimler/hero-city-yemeksepeti.jpg);
  z-index: -1;
  position: absolute;
  height: 618px;
  width: 50%;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section .hero-section-content {
  padding-bottom: 104px;
}
.hero-section .hero-section-content .hero-section-text {
  padding: 260px 0 48px 0;
}
.hero-section .hero-section-content .hero-section-text h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.4;
  margin: 0;
  color: #333;
}
.hero-section .hero-section-content .hero-section-text h1 span {
  font-weight: bold;
}
.hero-section .hero-section-content .hero-section-form {
  background-color: white;
  max-width: 960px;
  padding: 1rem;
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1);
}
.hero-section .hero-section-content .hero-section-form form {
  display: flex;
}
.hero-section .hero-section-content .hero-section-form form .address-search-container {
  position: relative;
  width: 100%;
}
.hero-section .hero-section-content .hero-section-form form .address-search-container input {
  width: 100%;
  height: 100%;
  padding: 1.4rem;
  border-radius: 10px;
  border: 1px solid rgba(112, 112, 112, 0.2588235294);
}
.hero-section .hero-section-content .hero-section-form form .address-search-container span {
  position: absolute;
  right: 20px;
  top: 30%;
}
.hero-section .hero-section-content .hero-section-form form .address-search-container span svg path {
  fill: #EA004B;
}
.hero-section .hero-section-content .hero-section-form form button {
  background-color: #EA004B;
  color: white;
  border: 0;
  border-radius: 10px;
  padding: 0 2rem;
  margin-left: 1rem;
}
.hero-section .hero-section-content .hero-section-form form button:hover {
  background-color: #be003c;
  transition: 0.3s;
}

.restaurants-container {
  max-width: 1425px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 80px;
}
.restaurants-container .restaurants__list .vendor-list-section h2 {
  font-size: 36px;
  font-weight: 200;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 16px;
}
.restaurants-container .restaurants__list .vendor-list-section .vendor-list {
  padding: 0;
  display: flex;
  margin: 0 -8px -8px;
}
.restaurants-container .restaurants__list .vendor-list-section .vendor-list li {
  list-style: none;
  width: calc(25% - 24px);
  max-width: calc(25% - 24px);
  margin: 0 12px 40px;
  margin-top: 0px;
  margin-right: 12px;
  margin-bottom: 40px;
  margin-left: 12px;
}
.restaurants-container .restaurants__list .vendor-list-section .vendor-list li a {
  cursor: pointer;
  color: #EA004B;
  transition: color 0.1s linear;
  text-decoration: none;
}
.restaurants-container .restaurants__list .vendor-list-section .vendor-list li a figure {
  min-height: 200px;
  margin: 0;
  position: relative;
}
.restaurants-container .restaurants__list .vendor-list-section .vendor-list li a figure picture img {
  width: 100%;
}
.restaurants-container .restaurants__list .vendor-list-section .vendor-list li a figure figcaption {
  padding: 8px 0 0;
}
.restaurants-container .restaurants__list .vendor-list-section .vendor-list li a figure figcaption h2 {
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}
.restaurants-container .restaurants__list .vendor-list-section .vendor-list li a figure figcaption .categories {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  color: #707070;
}
.restaurants-container .restaurants__list .vendor-list-section .vendor-list li a figure figcaption .categories li {
  display: inline;
  margin: 0;
  padding: 0;
}
.restaurants-container .restaurants__list .vendor-list-section .vendor-list li a figure figcaption .categories li span {
  font-size: 14px;
}
.restaurants-container .restaurants__list .vendor-list-section .vendor-list li a figure figcaption .categories li .budget-symbol {
  color: #5EFFB6;
}
.restaurants-container .restaurants__list .vendor-list-section .vendor-list li a figure .tag-container {
  padding: 0;
}
.restaurants-container .restaurants__list .vendor-list-section .vendor-list li a figure .tag-container span {
  color: white;
  background-color: #EA004B;
  top: 16px;
  left: 0;
  padding: 0 16px;
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

footer {
  max-width: 1425px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 80px;
}
footer .footer-wrapper-top {
  padding: 30px 0;
  border-top: 1px solid #ebebeb;
}
footer .footer-wrapper-top .footer-logo-wrapper {
  display: flex;
}
footer .footer-wrapper-top .footer-logo-wrapper .footer-social {
  width: 100%;
  display: flex;
  justify-content: end;
}
footer .footer-wrapper-top .footer-logo-wrapper .footer-social ul {
  margin: 0;
  padding: 0;
}
footer .footer-wrapper-top .footer-logo-wrapper .footer-social ul li {
  list-style: none;
  margin-left: 1rem;
  display: inline-block;
}
footer .footer-wrapper-top .footer-logo-wrapper .footer-social ul li a i {
  color: #CACACA;
  border: 1px solid #CACACA;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 18px;
}
footer .footer-wrapper-top .footer-logo-wrapper .footer-social ul li a i:hover {
  color: #EA004B;
  border: 1px solid #EA004B;
  transition: 0.3s;
}
footer .footer-wrapper-middle {
  position: relative;
  border-top: 1px solid #ebebeb;
  padding-top: 24px;
  padding-bottom: 24px;
}
footer .footer-wrapper-middle .footer-disclaimer {
  position: absolute;
  top: 24px;
  left: 0;
}
footer .footer-wrapper-middle .button-ghost {
  display: none;
}
footer .footer-wrapper-middle .footer-nav {
  width: 50%;
  margin-left: auto;
}
footer .footer-wrapper-middle .footer-nav ul {
  padding: 0;
  margin: 0;
  text-align: end;
}
footer .footer-wrapper-middle .footer-nav ul li {
  margin-left: 8px;
  display: inline;
  list-style: none;
  white-space: nowrap;
}
footer .footer-wrapper-middle .footer-nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
footer .footer-wrapper-middle .footer-nav ul li a:hover {
  color: #EA004B;
}
footer .footer-wrapper-middle .etbis-qr {
  margin-top: 1rem;
}
footer .footer-wrapper-middle .etbis-qr ul {
  display: flex;
  justify-content: end;
  padding: 0;
}
footer .footer-wrapper-middle .etbis-qr ul li {
  display: flex;
  text-align: center;
  align-items: center;
  list-style: none;
  margin-left: 2rem;
}
footer .footer-wrapper-middle .etbis-qr ul li a .img1 {
  width: 80px;
}
footer .footer-wrapper-middle .etbis-qr ul li a img {
  width: 100px;
}/*# sourceMappingURL=main.css.map */