@media screen and (max-width:959px) {
    header {

        .logo-wrapper {
            text-align: center;
            order: 1;
        }

        .language-wrapper {
            display: none;
        }

        .user-wrapper {
            width: 64px;
            border: 0;

            a {
                span {
                    display: none;
                }
            }
        }

        .vendor-cart-icon {
            order: 1;
        }
    }


    .hero-section {
        .hero-section-content {
        padding: 0 0;
            .hero-section-text {
                width: 75%;

                h1 {
                    font-size: 2.3rem;
                }
            }

            .hero-section-form {
                width: 100%;
                box-shadow: none;
            }
        }

    }

    .restaurants-container {
        max-width: 1425px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 80px;

        .restaurants__list {
            .vendor-list-section {
                h2 {}

                .vendor-list {


                    li {
                        a {
                            figure {
                                picture {
                                    img {}
                                }

                                figcaption {
                                    h2 {}

                                    .categories {}
                                }

                                .tag-container {
                                    span {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }




}