@media screen and (max-width:1207px) {
    header {

        .logo-wrapper {
            text-align: center;
            order: 1;
        }

        .language-wrapper {
            display: none;
        }

        .user-wrapper {
            width: 64px;
            border: 0;

            a {
                span {
                    display: none;
                }
            }
        }

        .vendor-cart-icon {
            order: 1;
        }
    }


    .hero-section {
        .hero-section-content {

            .hero-section-text {

                h1 {
                    font-size: 2rem;
                }
            }

            .hero-section-form {

                form {

                    .address-search-container {}

                    button {}
                }
            }
        }

    }

    .restaurants-container {

        .restaurants__list {
            .vendor-list-section {
                h2 {}

                .vendor-list {
                    grid-template-columns: repeat(3, 1fr);

                    li {

                        a {
                            figure {
                                picture {
                                    img {}
                                }

                                figcaption {
                                    h2 {}

                                    .categories {}
                                }

                                .tag-container {
                                    span {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {

        .footer-wrapper-top {
            .footer-logo-wrapper {
                .footer-logo {}

                .footer-social {
                    ul {
                        li {
                            a {
                                i {}
                            }
                        }
                    }
                }
            }
        }

        .footer-wrapper-middle {

            .footer-disclaimer {}

            .button-ghost {}

            .footer-nav {

                ul {


                    li {
                        white-space: unset;
                        a {}
                    }
                }
            }

            .etbis-qr {
                ul {

                    li {
                        a {
                            .img1 {}

                            img {}
                        }
                    }
                }
            }
        }
    }




}