@media screen and (max-width:1207px) {
    header {

        .logo-wrapper {}

        .language-wrapper {}

        .user-wrapper {

            a {
                span {}
            }
        }

        .vendor-cart-icon {}
    }


    .hero-section {
        .hero-section-content {

            .hero-section-text {

                h1 {
                    font-size: 2rem;
                }
            }

            .hero-section-form {

                form {

                    .address-search-container {}

                    button {}
                }
            }
        }

    }

    .restaurants-container {
        padding: 0 48px;

        .restaurants__list {
            .vendor-list-section {
                h2 {}

                .vendor-list {
                    grid-template-columns: repeat(3, 1fr);

                    li {

                        a {
                            figure {
                                picture {
                                    img {}
                                }

                                figcaption {
                                    h2 {}

                                    .categories {}
                                }

                                .tag-container {
                                    span {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {

        .footer-wrapper-top {
            .footer-logo-wrapper {
                .footer-logo {}

                .footer-social {
                    ul {
                        li {
                            a {
                                i {}
                            }
                        }
                    }
                }
            }
        }

        .footer-wrapper-middle {
            text-align: center;

            .footer-disclaimer {
                display: none;

            }

            .button-ghost {
                display: inline-block;
                border: 1px solid #EA004B;
                color: #EA004B;
                padding: 0.5rem 0.5rem;
                width: 50%;
                margin-bottom: 24px;
                border-radius: 5px;
            }

            .footer-nav {

                ul {


                    li {
                        white-space: unset;

                        a {}
                    }
                }
            }

            .etbis-qr {
                ul {

                    li {
                        a {
                            .img1 {}

                            img {}
                        }
                    }
                }
            }
        }
    }




}